<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Registro de Usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <img class="background-image" src="/assets/images/Duoc.jpg"> -->
  <form [formGroup]="registerForm" (ngSubmit)="registrarUsuario()" class="ion-padding">

    <!-- Nombre de Usuario -->
    <ion-item>
      <ion-input
        formControlName="userName"
        label="Nombre de Usuario"
        labelPlacement="floating"
        type="text">
      </ion-input>
    </ion-item>
    <ion-text *ngIf="isControlInvalid('userName')" color="danger">
      El nombre de usuario es obligatorio y debe tener al menos 4 caracteres.
    </ion-text>

    <!-- Correo Electrónico -->
    <ion-item>
      <ion-input
        formControlName="email"
        label="Correo Electrónico"
        labelPlacement="floating"
        type="email">
      </ion-input>
    </ion-item>
    <ion-text *ngIf="isControlInvalid('email')" color="danger">
      Ingresa un correo válido.
    </ion-text>

    <!-- Contraseña -->
    <ion-item>
      <ion-input
        formControlName="password"
        label="Contraseña"
        labelPlacement="floating"
        type="password">
      </ion-input>
    </ion-item>
    <ion-text *ngIf="isControlInvalid('password')" color="danger">
      La contraseña debe tener al menos 6 caracteres.
    </ion-text>

    <!-- Pregunta Secreta -->
    <ion-item>
      <ion-input
        formControlName="secretQuestion"
        label="Pregunta Secreta"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <!-- Respuesta Secreta -->
    <ion-item>
      <ion-input
        formControlName="secretAnswer"
        label="Respuesta Secreta"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <!-- Nombre -->
    <ion-item>
      <ion-input
        formControlName="firstName"
        label="Nombre"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <!-- Apellido -->
    <ion-item>
      <ion-input
        formControlName="lastName"
        label="Apellido"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <!-- Nivel Educacional -->
    <ion-item>
      <ion-select
        formControlName="educationalLevel"
        label="Nivel Educacional"
        labelPlacement="floating">
        <ion-select-option *ngFor="let nivel of listaNivelesEducacionales" [value]="nivel.id">
          {{ nivel.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Fecha de Nacimiento -->
    <div class="section-title">Fecha de Nacimiento</div>
    <ion-item>
      <ion-datetime
        formControlName="dateOfBirth"
        label="Fecha de Nacimiento"
        labelPlacement="floating">
      </ion-datetime>
    </ion-item>

    <!-- Dirección -->
    <div class="section-title">Dirección</div>
    <ion-item>
      <ion-input
        formControlName="address"
        label="Dirección"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <!-- Botón de Registro -->
    <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" class="submit-button">
      Registrar Usuario
    </ion-button>
  </form>
</ion-content>
