<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ "UserRegistration.Title" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <img class="background-image" src="/assets/images/Duoc.jpg"> -->
  <form [formGroup]="registerForm" (ngSubmit)="registrarUsuario()" class="ion-padding">

    <!-- Nombre de Usuario -->
    <ion-item>
      <ion-input
        formControlName="userName"
        label="{{ 'UserRegistration.UsernameLabel' | translate }}"
        labelPlacement="floating"
        type="text">
      </ion-input>
    </ion-item>
    <ion-text *ngIf="isControlInvalid('userName')" color="danger">
      {{ "UserRegistration.UsernameRequired" | translate }}
    </ion-text>

    <!-- Correo Electrónico -->
    <ion-item>
      <ion-input
        formControlName="email"
        label="{{ 'UserRegistration.EmailLabel' | translate }}"
        labelPlacement="floating"
        type="email">
      </ion-input>
    </ion-item>
    <ion-text *ngIf="isControlInvalid('email')" color="danger">
      {{ "UserRegistration.ValidEmail" | translate }}
    </ion-text>

    <!-- Contraseña -->
    <ion-item>
      <ion-input
        formControlName="password"
        label="{{ 'UserRegistration.PasswordLabel' | translate }}"
        labelPlacement="floating"
        type="password">
      </ion-input>
    </ion-item>
    <ion-text *ngIf="isControlInvalid('password')" color="danger">
      {{ "UserRegistration.PasswordRequirement" | translate }}
    </ion-text>

    <!-- Pregunta Secreta -->
    <ion-item>
      <ion-input
        formControlName="secretQuestion"
        label="{{ 'UserRegistration.SecretQuestionLabel' | translate }}"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <!-- Respuesta Secreta -->
    <ion-item>
      <ion-input
        formControlName="secretAnswer"
        label="{{ 'UserRegistration.SecretAnswerLabel' | translate }}"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <!-- Nombre -->
    <ion-item>
      <ion-input
        formControlName="firstName"
        label="{{ 'UserRegistration.FirstNameLabel' | translate }}"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <!-- Apellido -->
    <ion-item>
      <ion-input
        formControlName="lastName"
        label="{{ 'UserRegistration.LastNameLabel' | translate }}"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <!-- Nivel Educacional -->
    <ion-item>
      <ion-select
        formControlName="educationalLevel"
        label="{{ 'UserRegistration.EducationalLevelLabel' | translate }}"
        labelPlacement="floating">
        <ion-select-option *ngFor="let nivel of listaNivelesEducacionales" [value]="nivel.id">
          {{ nivel.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Fecha de Nacimiento -->
    <ion-item>
      <!-- <ion-label>{{ "UserRegistration.BirthDate" | translate }}</ion-label> -->
      <ion-datetime
        formControlName="dateOfBirth"
        presentation="date"></ion-datetime>
    </ion-item>

    <!-- Dirección -->
    <ion-item>
      <ion-input
        formControlName="address"
        label="{{ 'UserRegistration.Address' | translate }}"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <!-- Botón de Registro -->
    <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" class="submit-button">
      {{ "UserRegistration.RegisterUser" | translate }}
    </ion-button>
  </form>
</ion-content>
