<div class="ion-text-center">
  <h1 class="title-text">  
    {{ "WelcomePage.Title.Wellcome" | translate }}
  </h1>
  <h1 class="user-text"> {{ user.firstName }} {{ user.lastName }} </h1>

  <div class="ion-text-center">
    <ion-button (click)="sendClickEvent('map')">
      {{ "WelcomePage.Button.Map" | translate }}
    </ion-button>
  </div>

  <div class="ion-text-center">
    <ion-button (click)="sendClickEvent('scan')">
      {{ "WelcomePage.Button.Scan" | translate }}
    </ion-button>
  </div>
</div>
