<ion-header>
  <ion-toolbar class="transparent-bg">
    <div class="show-in-landscape">
      <h1 style="text-align: center;"> {{ 'AppName' | translate }} </h1>
    </div>
   </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <img class="background-image" src="../../../assets/images/correcto.png">
  
  <h1 style="text-align: center;" class="show-in-portrait margin-top-6"> {{ 'AppName' | translate }} </h1>
  
  <ion-card class="login-container transparent-input">
    
    <ion-card-header class="show-in-portrait" style="text-align: center;">
      <ion-card-title color="light">
        <h4>
          <b>
            {{ 'Login.Title.Login' | translate }}
          </b>
        </h4>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="transparent-input text-center">
      <ion-item class="margin-bottom-6 float-landscape">
        <ion-text class="content ion-text-center">
          <h2>{{ "Operation.SuccessMessage" | translate }}</h2>
          <p>{{ "Operation.ActionCompleted" | translate }}</p>
          <p *ngIf="recoveredPassword">{{ "Operation.PasswordMessage" | translate }} <strong>{{ recoveredPassword }}</strong></p>
        </ion-text>
      </ion-item>
      

      <div class="ion-text-center margin-top-6" style="clear: both;">
        <ion-button class="enter-button normal-text" shape="round" (click)="irAInicio()">
          {{ "Operation.BackToHome" | translate }}
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card> 
</ion-content>


