<ion-content>
  <ion-header>
  </ion-header>
<!-- Título de administración de usuarios -->
  <div class="title-container">
    <h1>{{ "AdminUsers.Title" | translate }}</h1>
  </div>
  <img class="background-image" src="/assets/images/Fondo.jpg">
  <!-- Lista de usuarios -->
  <div class="user-list">
    <ion-card *ngFor="let user of users" class="user-card">
      <ion-card-header>
        <!-- Mostrar nombre y correo del usuario -->
        <ion-card-title class="user-name">{{ user.firstName }} {{ user.lastName }}</ion-card-title>
        <ion-card-subtitle class="user-email">{{ user.email }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="danger"(click)="confirmDelete(user.userName)">
          <ion-icon name="trash-outline" color="light"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Botón de cerrar sesión -->
  <div class="logout-container">
    <ion-button fill="clear" color="primary" (click)="confirmLogout()">
      {{ "Logout.Button" | translate }}
    </ion-button>
  </div>
  
</ion-content>
