body {
  background-color: $white-primary;
  color: $white-text;
}

// Estilos para el tema negro
@media (prefers-color-scheme: dark) {
  body {
    background-color: $black-primary;
    color: $black-text;
  }
}