<app-header 
  (headerClick)="headerClick($event)">
</app-header>

<ion-content [fullscreen]="true">

  <img class="background-image" src="/assets/images/Fondo.jpg">

  <app-qrwebscanner 
    *ngIf="selectedComponent === 'qrwebscanner'" 
    (scanned)="webQrScanned($event)"
    (stopped)="webQrStopped()">
  </app-qrwebscanner >
  
  <app-welcome 
    *ngIf="selectedComponent === 'welcome'"
    (welcomeClick)="welcomeClick($event)">
  </app-welcome>

  <app-dinosaur 
    *ngIf="selectedComponent === 'dinosaur'">
  </app-dinosaur>

  <app-forum 
    *ngIf="selectedComponent === 'forum'">
  </app-forum>

  <app-mis-datos
    *ngIf="selectedComponent === 'mis-datos'">
  </app-mis-datos>

  <app-map
    *ngIf="selectedComponent === 'map'">
  </app-map>



</ion-content>

<app-footer
  (footerClick)="footerClick($event)">
</app-footer>